<div class="small-12 large-6 large-centered columns">
	<div class="main_signup">
		<h3>Parent Sign up Form</h3>
		<h6>Step 1: Create Account</h6>
		<hr>	
		<%= simple_form_for @student do |student| %>
		<%= student.label :email, "Best Email" %>
		<%= student.email_field :email %>
		<%= student.error :email, class: 'error' %>
		<%= student.label :password %>
		<%= student.password_field :password %>
		<%= student.error :password, class: 'error' %>
		<%= student.label :password_confirmation %>
		<%= student.password_field :password_confirmation %>
		<%= student.error :password_confirmation, class: 'error' %>
		<%= student.error :password_field, class: 'error' %>
		<br>
		<%= student.submit 'Continue',class: 'button' %>
		<% end %>
	</div>
</div>
