<body class="unique">
	<div class="row blue">
		<div class="row main_signup">
			<div class="small-12 large-12 columns">
				<h1>Welcome to kidz code </h1>
			</div>
		</div>
	</div>
	<div class="row red">
		<div class="row main_signup">
			<div class="small-8 small-centered columns box">
				<div class="small-12 large-6 columns"><h2>Who we are</h2></div>
				<div class="small-12 large-6 columns">
					<div id="ok">
						<div class="move">
							<h3>
								Kidz code is a after school program to help kids learn to code!
							</h3>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="row main_signup">
			<div class="small-10 small-centered columns box">
				<div class="row black_font">
				<h1>Why learn with us?</h1>
				</div>
				<div class="small-12 large-3 columns content">
					<%= image_tag("black223.svg",:alt =>"chess piece") %>
					<h3>Tailored</h3>
					<p>Before starting with Kidzcode, we will meet with your child, and tailor a learning plan just for them.
				</div>
				<div class="small-12 large-3 columns">
					<%= image_tag("female188.svg",:alt => "learning") %>
					<h3>Fun</h3>
					<p> Most of the learning comes in the form of games, and projects. After all, coding is supposed to be fun!.</p>
				</div>
				<div class="small-12 large-3 columns">
					<%= image_tag("write12.svg",:alt => "learning") %>
					<h3>Trackable</h3>
					<p> Everything we do is backed by big data, and parents can easily track their kids progress.
				</div>
				<div class="small-12 large-3 columns">
					<%= image_tag("pc6.svg",:alt => "learning") %>
					<h3>Cutting Edge</h3>
					<p>Students will taught in Ruby, one of the most saught after languages. It also reads like english, making it a great language to learn with. 
				</div>
			</div>
			<div class="row">		 
				<div class="small-12 large-6 columns small-centered">	<div class="text-center"><%= link_to 'Join Now!', new_student_path, class: 'button expand'%></div>
				</div>
			</div>
		</div>
	</div>
</body>